.mat-elevation-z8{
    width: 95%;
    margin: 3%;
}

.btns{
    margin-left: 3%;
    margin-top: 3%;
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}