<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef> SNo. </th>
      <td mat-cell *matCellDef="let element;let i = index"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="pname">
        <th mat-header-cell *matHeaderCellDef> Product Name </th>
        <td mat-cell *matCellDef="let element"> {{element.pname}} </td>
    </ng-container>

    <ng-container matColumnDef="baseprice">
        <th mat-header-cell *matHeaderCellDef> Base Price </th>
        <td mat-cell *matCellDef="let element"> {{element.baseprice}}  $</td>
    </ng-container>

    <ng-container matColumnDef="doexpiry">
        <th mat-header-cell *matHeaderCellDef> Expiry Date </th>
        <td mat-cell *matCellDef="let element"> {{element.doexpiry}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef> Avaliable Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
    </ng-container>

    <ng-container matColumnDef="supname">
        <th mat-header-cell *matHeaderCellDef> Supplier Name </th>
        <td mat-cell *matCellDef="let element"> {{element.supname}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  

